@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --uken: #0d1d41;
}

body {
    padding: 1rem;
    font-family: "Martel Sans", sans-serif;
    max-width: 500px;
    margin:  auto;
}

header {
    display: flex;
    /* display: none; */

    position: fixed;
    inset: 0;
    padding: 1rem;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    max-width: 500px;
    color: var(--uken);
    margin:  auto;
    align-items: center;
    background-color: white;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 38px;
    line-height: 1;

    span {
        font-size: 20px;
    }
}



img {
    max-width: 100%;
    width: 150px;
}

button {
    font-size: 1.7rem;
    background-color: #0d1d41;
    color: white;
    border: none;
    padding: 0.6em 1.5em;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 0px rgba(66, 68, 90, 0.29);
    &:hover {
        background-color: #efefef;
        color: #0d1d41;
    }
}


.buttons {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 0.5em
}

h2 {
    font-size: 35px;
    text-transform: uppercase;
    margin: 0.75em;
    text-align: center;
    color: #0d1d41;

    &:first-of-type {
        margin-top: 0.5em;
    }
}

.row {
    border: 1px solid #bc8f8f;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
}


/* .row:hover {
    background-color: #4c7f81;;
    color: white;
    .syl {
        text-decoration-color: #ffffff;
    }
} */

/* nazwa */
.cell:first-of-type {
    text-wrap: balance;
    font-weight: bold;
    font-size: 1.25rem;
}

/* Nazwisko */
.cell:nth-of-type(2) {
    font-size: 1.25rem;
}

/* Godziny */
.cell:nth-of-type(3) {
    font-size: 1.05rem;
}

/* Częstotliwość */
.cell:nth-of-type(4) {
    font-size: 1.10rem;
}

.syl {
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-color: #4c7f81;
    cursor: pointer;

    &:hover {
        color: #4c7f81;
    }
}


.row:has(.E) .cell:nth-of-type(2)::before {
    content: "(egzamin) ";
    color: red;
    font-size: 0.75em;
}

h3 {
    text-align: center;
    font-size: 1rem;margin-top: 10px;
}

.info {
    padding: 1em;
    position: fixed;
    display: none;
    flex-direction: column;
    background: #fff;
    margin: auto;
    inset: 0;
    max-width: 500px;
    gap: 5px;
    overflow: scroll;

    button {
        font-size: 20px;
        margin-top: 10px;
    }

    ul {
        padding-left: 1em;
    }
}


.show {
    display: flex;
}

.kurs_miti, .kurs_asi {
    /* background-color: #4c7f8112; */

    &::before {
        content: "MITI";
        font-weight: bold;
        color: #4c7f81;
        font-size: 1em;
        text-transform: uppercase;
    }
}
 .kurs_asi {
    /* background-color: #4c7f8112; */

    &::before {
        content: "ASI";
        font-weight: bold;
        color: #4c7f81;
        font-size: 1em;
        text-transform: uppercase;
    }
}